.container{
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F7F5FF;
  margin: auto;
  

}

.tittle {
  font-size: 24px;
  color: #8D76FF;
  text-align: center;
}



